---
import FloatCta from "../components/float-cta/float-cta.astro";
import HeadlineFadeIn from "../components/headline-fadein/headline-fadein";
import InnerContent from "../components/layout/inner-content/inner-content";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section id="hero" class="relative h-screen w-screen py-16 md:py-36">
      <div class="absolute inset-0 -z-10 bg-hero-image bg-cover bg-center">
        <div class="absolute inset-0 bg-hero-radial-gradient"></div>
      </div>
      <InnerContent clazzName="md:flex md:items-end">
        <div
          class="grid h-full w-full grid-rows-[_1fr_.25fr] items-center md:h-max md:grid-cols-[1fr_.25fr] md:grid-rows-1"
        >
          <div class="flex w-full flex-col">
            <HeadlineFadeIn />

            <div
              class="md:items-left grid w-full grid-rows-3 items-center justify-items-start gap-4 md:grid-cols-3 md:grid-rows-1"
            >
              <h2 class="text-3xl tracking-widest text-white">Massagens</h2>
              <h2 class="text-3xl tracking-widest text-white">
                Terapia holística
              </h2>
              <h2 class="text-3xl tracking-widest text-white">Yoga</h2>
            </div>
            <div class="w-full self-end">
              <FloatCta class="bg-sky-400" />
            </div>
          </div>
        </div>
      </InnerContent>
    </section>
  </main>
</Layout>
